.chatCard {
  width: 40%;
  margin: auto;
  height: auto;
  padding: 18px;
  background-color: #ececee;
  display: block;
}

.chatInput {
  display: block;
  float: right;
  background-color: white;
  width: 60%;
  margin-bottom: 24px !important;
}

.chatOutput {
  display: block;
  background-color: lightgreen;
  width: 60%;
  color: white !important;
  margin-bottom: 24px !important;
}
